.dasboar{font-size:20px;padding:10px;}
.fontb{background-color:#bccf1c;padding:3px;vertical-align:baseline;border-radius:.25em;}
.footer{float:right;margin-right:10px;padding-top:5px;color:#fff;}
.img-circle{width:60px;margin-right:10px;max-width:none;border-radius:50%;}
.user-pro-body{padding: 17px 7px 16px 15px!important;color:#fff;}
.caja-inicio{background-color:#fff;color:#949aa1;text-align:center;padding:10px;text-transform:uppercase;}
